/* Color palette */
$primary-cl: #647fbc;
$secondary-cl: #91adc8;
$accent-cl: #aed6cf;
$accent-light-cl: #faf9ee;

/* Text colors */
$dark-text-cl: #334155;
$light-text-cl: #faf9ee;

/* Fonts */
.heading-font {
  font-family: 'Sintony', sans-serif;
  font-weight: 700;
}

.body-font {
  font-family: 'Sen', sans-serif;
  font-size: 1rem;
  font-weight: 450;
}
