/* Color palette */
$primary-cl: #647fbc;
$secondary-cl: #91adc8;
$accent-cl: #aed6cf;
$accent-light-cl: #faf9ee;

/* Text colors */
$dark-text-cl: #334155;
$light-text-cl: #faf9ee;

/* mixins fonts */
@mixin heading-font {
  font-family: 'Sintony', sans-serif !important;
  font-weight: 700 !important;
}

@mixin body-font {
  font-family: 'Sen', sans-serif !important;
  font-weight: 450 !important;
}
