@import 'variables';

.loader-container {
  display: flex;
  justify-content: center;  
  align-items: center;    
  min-height: 200px;   
  font-weight: bold;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: $accent-light-cl;
}

.sc-digi-info-card-h .digi-info-card__heading.sc-digi-info-card {
  font-family: 'Sintony', sans-serif;
  font-weight: 700;
  color: $dark-text-cl;
}

.dashboard .sc-digi-info-card-h .digi-info-card__content.sc-digi-info-card {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; 
  background-color: $accent-cl;
  border-radius: 8px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
  transform: none !important;
  cursor: default !important;
}

.sc-digi-info-card-h .digi-info-card--primary.sc-digi-info-card {
  background-color:$accent-light-cl;
}

.dashboard__total {
  font-weight: bold;
  text-align: center;
  margin-top: 10px; 
  color: $dark-text-cl;
  font-family: 'Sen', sans-serif;
  font-size: 1.7rem !important; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px; 
}

li {
  padding: 12px;
  border-radius: 8px; 
  background-color: $accent-light-cl;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  font-family: 'Sen', sans-serif;
  font-size: 1rem;
  font-weight: 450;
}

li:hover {
  transform: scale(1.05);     
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

digi-typography a {
  color: $dark-text-cl;
  font-size: 16px;
  text-decoration: none; 
  font-weight: 600; 
  display: block;
  text-align: center;
  font-family: 'Sen', sans-serif;
}

digi-typography a:visited {
  color: $dark-text-cl;
}

digi-typography a:hover {
  text-decoration: none;
}

.sc-digi-bar-chart-h .chartTitle.sc-digi-bar-chart {
  padding-bottom: 10px;
}

.bar {
  fill:$primary-cl;
}

.tick text,
.barText  {
  fill: $dark-text-cl;
  font-family: 'Sen', sans-serif;
}

.sc-digi-button-h .digi-button--icon.sc-digi-button, .sc-digi-button-h .digi-button--icon-secondary.sc-digi-button,
.sc-digi-icon-table-h svg.sc-digi-icon-table {
  color: $primary-cl;
  font-family: 'Sen', sans-serif;
  font-weight: 450;
  text-decoration: none;
}

.chart-container {
  width: 80vw;
  min-height: 300px;
  color: $dark-text-cl;
  font-family: 'Sen', sans-serif;
}

/* Tablet / Desktop */
@media (min-width: 768px) {
  .dashboard {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .chart-container {
  width: 100%;
  }

  .sc-digi-info-card-h .digi-info-card__heading.sc-digi-info-card {
    text-align: center;
  }

  .dashboard__card {
    flex: 1 1 300px;
  }
}
