@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';
@import './styles/variables';
@import './styles/layout';
@import './styles/jobDetail';

body {
  margin: 0;
  font-family: sans-serif;
  background: $accent-light-cl;
}

h1 {
  color: hotpink;
}

.logo {
  display: block;
  margin: 0 auto; 
  max-width: 100%;
  margin-top: 3rem;
}

/* Slogan */
.slogan {
  font-family: 'Sintony', sans-serif !important;
  font-weight: bold;
  font-size: 1.2rem; 
  text-align: center;
  color: #333;  
  margin-top: 16px;
}
