@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}

h1 {
  color: hotpink;
}
