@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css';
@import '@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css';
@import './styles/variables';

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}

h1 {
  color: hotpink;
}

.header-logo {
  height: 60px;
  width: auto;
  position: absolute;
  left: -0.5px;
  @media  (min-width: 992px) {
    height: 65px;
  }
}

.digi-footer {
  background-color: yellow;
}

.footer-logo {
  height: 100px;
  width: auto;

}

.footer-content {
  color: white;
}